%h2= t('questionnaires.title')

#questionnaires
  %table.table
    - @questionnaires.each do |questionnaire|
      %tr
        %td= questionnaire.name
        %td= link_to 'Start', questionnaire_path(questionnaire), class: 'btn'

